:root {
  --root-background-dark-1: #1d1d1d;
  --root-background-dark-2: #2d2d2d;
  --root-background-dark-3: #3d3d3d;
  --root-background-light-1: #fff;

  --root-border-dark-1: #f3f3f3;

  --root-text-dark-1: #000;
  --root-text-light-1: #fff;
}

:root {
  --color-background: var(--root-background-light-1);
  --color-foreground: var(--root-background-light-1);
  --color-text: var(--root-text-dark-1);
  --color-border: var(--root-background-dark-3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--root-background-dark-1);
    --color-foreground: var(--root-background-dark-3);
    --color-text: var(--root-text-light-1);
    --color-border: var(--root-background-dark-3);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100svw;
  height: 100svh;

  background-color: var(--color-background);
  color: var(--color-text);
}

aside {
  position: fixed;
  top: 2rem;
  left: 2rem;

  padding: 1rem;

  border: 1px solid var(--root-background-light-1);
  border-radius: 10px;
  /* background-color: var(--root-background-dark-2); */

  backdrop-filter: blur(10px);
  filter: drop-shadow(5px 5px 10px #000000);
}

main {
  flex: 1;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 2rem;

  bottom: 0;

  width: 100%;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.menu-range {
  display: flex;
  flex-flow: column nowrap;

  & label {
    display: flex;
    justify-content: space-between;
  }
}

.menu-checkbox {
  display: flex;
  justify-content: space-between;
}

table {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  height: 100%;

  border-collapse: collapse;
  /* border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border); */

  & tr {
    display: flex;
    flex:1;

    /* border-top: 1px solid var(--color-border); */
  }

  & td {
    flex:1;

    /* border-left: 1px solid var(--color-border); */
  }

  & td:hover {
    background-color: var(--root-background-dark-2);
  }
}

.alive {
  background-color: var(--color-foreground);
}